body {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    justify-content: center;
}
.post{
    display: flex;
    width: 600px;
    height: 600px;
    background-color: black;
    flex-direction: column;
}
.post-header{
    height: 80px;
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
}
.post-title{
    width: 85%;
    font-size: medium;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
}
.post-icon{
    font-size: 30px;
}
.post-options{
    margin-left: auto;
    font-size: 24px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.post-photo{
    width: 600px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    box-sizing: border-box;
    background-color: black;
}

.post-photo img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.post-footer{
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    padding: 10px;
    background-color: white;
    word-break: break-word;
    font-family: 'Roboto', sans-serif;
}
.post-icons{
    display: flex;
    width: 100%;
    gap: 15px;
    font-size: 24px;
    margin-bottom: 10px;
    align-items: center;
}

.left-icons{
    margin-right: auto;
}
.right-icons{
    margin-left: auto;
    margin-right: auto;
}

.post-footer strong{
    color: black;
}